<p id="notice"><%= notice %></p>

<h2>Order details</h2>

<p>
  <b>Order date:</b>
  <%= @order.order_date %>
</p>

<%= render :template => 'orderitems/index', :collection => @order.orderitems %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', items_path %>
