<%= form_for([@order, @item]) do |f| %>
<% if @item.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@item.errors.count, "error") %> prohibited this order from being saved:</h2>
	<ul>
		<% @item.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<p>
		<%= f.label :item_name %>
		<br />
		<%= f.text_field :item_name %>
	</p>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
